<div class="container" style="margin-top:10px;">
    <div class="col-lg-9">
        <div id="blogListContent" ng-include="'App/BlogList/BlogList.html'">
        </div>
    </div>
    <div class="col-lg-3">
        <% include profile %>
    </div>
</div>
