<div class="navbar navbar-fixed-bottom navbar-default">
    <div class="container">
       <div class="navbar-collapse collapse" id="navbar-main">
         <ul class="nav navbar-nav navbar-left">
             <li>   <a href="../" class="navbar-brand"><p>© 2017 - All Rights with ThilakChelliah</p></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="#">About Me</a></li>
          </ul>
        </div>
       
    </div>

</div>
