<div class="navbar navbar-fixed-bottom navbar-default footer-modified">
    <div class="container">
        <div class="row" style="margin-top:35px;">
            <div class="col-sm-12 footer-newsletter">
                <div class="single">
                    <h2>Subscribe to My Newsletter</h2>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                                      <button class="btn btn-theme" type="submit">Subscribe</button>
                                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center footer-copyright" style="margin-top:25px">
            <span>copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017</span><br/><span>All rights belongs to  <a href="mailto:thilak.chelliah49@gmail.com">ThilakChelliah</a></span>
        </div>
    </div>

</div>
