<div class="card">
    <img class="card-img-top" src="images/profileBackground.jpg">
    <div class="row" style="position:absolute;left:80px;top:85px;">
        <div class="profile-header-container">
            <div class="profile-header-img">
                <img class="img-circle" src="images/profPic.jpg " />
            </div>
        </div>
    </div>
    <div class="card-block text-center" style="margin-top:16%">
        <h3 class="card-title blue-heading chosenLightFont">Thilak Chelliah</h3>
        <p class="card-text grey-Text chosenLightFont">Software Devoloper</p>
        <p class="card-text grey-Text chosenLightFont">Web Devoloper/Designer</p>

        <div class="bottom prof-icon-container">
            <a class="Facebook-Blue" href="https://twitter.com/webmaniac">
                <i class="fa fa-facebook-official" ></i>
            </a>
            <a class="GooglePlus-Red" href="https://plus.google.com/+ahmshahnuralam">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="linkedIn-Blue" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-linkedin-square"></i>
            </a>
            <a class="Quora-col" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-quora"></i>
            </a>
            <a class="Github-Black" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>

</div>
