<div class="card" >
  <img class="card-img-top" src="images/profileBackground.jpg" >
  	<div class="row" style="position:absolute;left:90px;top:60px;">
        <div class="profile-header-container">   
    		<div class="profile-header-img">
                <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
              
            </div>
        </div> 
	</div>
  <div class="card-block text-center">
    <h4 class="card-title">Thilak Chelliah</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>