<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/popper/umd/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="//unpkg.com/angular@1.6.5/angular.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs@1.0.5/release/angular-ui-router.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/Angular1/AngApp.js" ></script>
    <script src="/Angular1/Controllers/TechView.controller.js"></script>
    <script src="/Angular1/Controllers/Login.controller.js"></script>
    <script src="/Angular1/Controllers/BlogList.controller.js"></script>
    <script src="/Angular1/Service/TechView.service.js"></script>
    <script src="/Angular1/Service/BlogList.service.js"></script>
    <script src="/Angular1/Service/login.service.js"></script>
    <script src="/Angular1/Directives/SignUp/SignUp.directive.js"></script>
    <script src="/Angular1/Directives/shared/common.directive.js"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/Global.min.css' />
    <link rel="stylesheet" href="/stylesheets/cards.min.css">
    <link rel="stylesheet" href="/fontcss/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300|Quicksand" rel="stylesheet">

  </head>
  <body ng-app="techRegistryApp">
    <% include ../views/partials/header %>
    <% include ../views/partials/content %>
     <% include ../views/partials/footer %>
  </body>
</html>
