<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/javascripts/Global.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/Global.min.css' />
    <link rel="stylesheet" href="/stylesheets/cards.min.css">
    <link rel="stylesheet" href="/fontcss/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>
  <body ng-app="techRegistryApp">
    <% include ../views/partials/header %>
    <% include ../views/partials/content %>
     <% include ../views/partials/footer %>
  </body>
</html>
