.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    position: relative;
}

a.navbar-brand .navbrand-logo {
 position: absolute;
 top:-1px;
}

.navbar-collapse {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0;

}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
    background-color: #0db4be;
}

.nav-tabs {
    border-bottom: 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 25px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.nav-tabs>li>a:hover {
    background-color: #36CBD4;
}

.nav-tabs>li.active>a {
    color: #fff;
    cursor: default;
    background-color: #36CBD4;
    border: 0;
    border-bottom-color: transparent;

}

.nav-tabs>li.active>a:hover {
    color: #fff;
    border: 0;
    background-color: #36CBD4;
    cursor: pointer;
}

.nav-tabs>li {
    margin-bottom: 0;
}

/*=========================
  Footer
 ================= */

footer {
    background: #0db4be ;
}

.inner-footer ul li,
a {
    list-style: none;
}

.widgetheading {
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}

.f-about a h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #FFF;
}

.f-about a h1 span {
    color: #FFF;
}

.f-about p {
    font-size: 14px;
    color: #FFF;

}

.l-posts h3 {
    margin-left: 40px;
}

.l-posts li a {
    font-size: 14px;
    color: #FFF;
    margin: 0;
    font-weight: 300;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.l-posts li a:hover {
    color: #FFF;
}

.f-contact p {
    font-size: 14px;
    color: #FFF;
    margin: 0;

    font-weight: 300;
    margin-bottom: 15px;
}

.f-contact i {
    color: #FFF;
    font-size: 16px;
    margin-right: 10px;
}

.f-contact a:hover p {
    color: #FFF;
}

.last-div {
    margin-top: 40px;
    background: #284B5F;
    padding: 20px 0;
    position: relative;
}

.copyright {
    font-size: 14px;
     color: #73f4fc;
    margin-top: 15px;
    font-weight: 300;
    float: left;
}

.copyright a {
     color: #73f4fc;
}

.copyright a:hover {
    text-decoration: underline;
    color: #36CBD4;
}

ul.social-network {
    list-style: none;
    margin-top: 15px;
    float: right;
    font-size: 18px;
    margin-right: 20px;
}

ul.social-network li {
    display: inline;
    margin: 0 15px;
    color: #73f4fc;
}

ul.social-network li a {
    color: #73f4fc;
}

ul.social-network li a:hover {
    color: #fff;
}

a.scrollup {
    color: #fff;
    height: 55px;
    width: 55px;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 40px;
    opacity: 0, 5;
    border-radius: 50%;
    z-index: 999;
}

a.scrollup:hover {
    opacity: 1;
    background-color: #36CBD4;
    color: #fff;
    ;
}
