<div ng-controller="blogListController">
  <div class="card" ng-repeat="blogObj in blogList">
    <img class="card-img-top" src="..." alt="Card image cap" ng-if="blogObj.blogImgTrue">
    <div class="card-block">
      <div class="card-title"><span class="blogTitleSpan">{{blogObj.title}}</span>
      </div>
      <ul class="list-inline list-unstyled blogRelat">
        <li class="list-inline-item"><span><i class="fa fa-user" aria-hidden="true"></i> {{blogObj.user}} </span></li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item"><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item"><span><i class="fa fa-comment" aria-hidden="true"></i> 2 comments</span></li>

      </ul>
      <p class="card-text" ng-bind-html="blogObj.content"></p>
      <a href="#" class="btn btn-primary pull-right">Read More</a>

    </div>
    <div class="card-footer text-muted">
      <ul class="tags">
        <li><a href="#" class="tag">HTML</a></li>
        <li><a href="#" class="tag">CSS</a></li>
        <li><a href="#" class="tag">JavaScript</a></li>
      </ul>
    </div>
  </div>
</div>
